{% extends "base.html" %}
{% load price_filters %}

{% block title %}Your Cart – Bookish Nook{% endblock %}

{% block content %}
<h1 class="bn-section-title mb-4">Your Cart</h1>

{% if items %}
<table class="table table-striped">
  <thead>
    <tr><th>Product</th><th style="width:140px;">Qty</th><th>Price</th><th>Subtotal</th><th></th></tr>
  </thead>
  <tbody>
  {% for it in items %}
    <tr>
      <td><a href="{{ it.product.get_absolute_url }}">{{ it.product.name }}</a></td>
      <td>
        <form method="post" action="{% url 'cart:update' it.product.id %}" class="form-inline">
          {% csrf_token %}
          <input type="number" name="qty" min="0" value="{{ it.qty }}" class="form-control mr-2" style="width:90px">
          <button class="btn btn-sm bn-btn-primary">Update</button>
        </form>
      </td>
      <td>{{ it.product.price|currency }}</td>
      <td>{{ it.subtotal|currency }}</td>
      <td>
        <form method="post" action="{% url 'cart:remove' it.product.id %}">
          {% csrf_token %}
          <button class="btn btn-sm btn-outline-danger">Remove</button>
        </form>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>

<div class="text-right h5">Total: {{ total|currency }}</div>
<!--<a href="#" class="btn bn-btn-primary mt-3">Checkout</a>-->
<a href="{% url 'checkout:start' %}" class="btn bn-btn-primary mt-3">Checkout</a>
{% else %}
<p>Your cart is empty.</p>
{% endif %}
{% endblock %}
