<!-- Social banner -->
<div class="bg-dark text-light text-center py-1 small">
  <a href="#" class="text-light mx-2"><i class="fab fa-instagram"></i> Instagram</a>
  <a href="#" class="text-light mx-2"><i class="fab fa-facebook"></i> Facebook</a>
</div>

<!-- ÖVRE RAD: Sök-ikon (vänster), centrerad brand, varukorg (höger) -->
<nav class="navbar navbar-light bg-light border-bottom py-2 position-relative">
  <!-- Vänster: Sök-ikon (mobil + desktop) -->
  <div class="d-flex align-items-center">
    <!-- Mobil: togglar fällbart sökfält -->
    <button class="btn btn-link d-md-none text-dark pr-2" type="button"
            data-toggle="collapse" data-target="#mobileSearch"
            aria-controls="mobileSearch" aria-expanded="false" aria-label="Toggle search">
      <i class="fas fa-search"></i>
    </button>

    <!-- Desktop: direkt sökfält -->
    <form class="form-inline d-none d-md-flex">
      <input class="form-control mr-2" type="search" placeholder="Search products..." aria-label="Search">
      <button class="btn btn-outline-success" type="submit"><i class="fas fa-search"></i></button>
    </form>
  </div>

  <!-- Mitten: Brand (alltid centrerad mot hela raden) -->
  <a class="navbar-brand bn-title mx-auto font-weight-bold position-absolute w-100 text-center"
     href="/" style="left:0; top:0;">
    Bookish Nook
  </a>

  <!-- Höger: Varukorg -->
  <div class="d-flex align-items-center ml-auto">
    <a href="{% url 'cart:view' %}" class="text-dark position-relative" title="Cart" style="padding-left:.5rem;">
      <i class="fas fa-shopping-cart"></i>
      <span class="badge badge-pill badge-danger position-absolute" style="top:-8px; right:-10px;">
        {{ cart_count|default:0 }}
      </span>
    </a>
  </div>
</nav>

<!-- Fällbart sökfält på mobil -->
<div class="collapse bg-light border-bottom d-md-none" id="mobileSearch">
  <form class="p-2">
    <div class="input-group">
      <input class="form-control" type="search" placeholder="Search products..." aria-label="Search">
      <div class="input-group-append">
        <button class="btn btn-outline-success" type="submit"><i class="fas fa-search"></i></button>
      </div>
    </div>
  </form>
</div>

<!-- NEDRE RAD: Huvudmeny + dropdowns. My Account längst ner på mobil -->
<nav class="navbar navbar-expand-lg navbar-dark bn-brown">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNav"
          aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-center" id="mainNav">
    <ul class="navbar-nav">
      <li class="nav-item"><a class="nav-link" href="#">News</a></li>

      <!-- Exempel: Bookmarks med underkategorier -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navBookmarks" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Bookmarks
        </a>
        <div class="dropdown-menu bn-dropdown" aria-labelledby="navBookmarks">
          <a class="dropdown-item" href="#">Magnetic Bookmarks</a>
          <a class="dropdown-item" href="#">Bookmark With Tassel</a>
          <a class="dropdown-item" href="#">Bookmark With Elastic Band</a>
          <a class="dropdown-item" href="#">Metal Bookmark</a>
          <a class="dropdown-item" href="#">Wooden Bookmark</a>
          <a class="dropdown-item" href="#">Fabric Bookmark</a>
          <a class="dropdown-item" href="#">Bookmark In Vegan Leather</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">All Bookmarks</a>
      </li>
      <li class="nav-item"><a class="nav-link" href="#">Book Boxes</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Book Sleeves</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Reading Lights</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Pens & Notebooks</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Bookends & other things for the bookshelf</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Stickers</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Sale</a></li>
    </ul>

    <!-- My Account längst ned i menyn på mobil (syns bara i collapse) -->
    <ul class="navbar-nav d-lg-none w-100 mt-2 pt-2 border-top">
      <li class="nav-item">
        <a class="nav-link d-flex align-items-center" href="#" title="My Account">
          <i class="far fa-user mr-2"></i> My Account
        </a>
      </li>
    </ul>
  </div>
</nav>